{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Link Expired</h1>
          </div>
          <div class="card-body">
            <p class="text-center">The link you tried to access has either expired or the click limit has been reached.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
